@CHARSET "ISO-8859-1";

a
{
	color: RoyalBlue;
	text-decoration: none;
}

a:hover
{
	color: LimeGreen;
	text-decoration: underline;
}

/*
a.wiki
{
	color: Navy;
	text-decoration: none;
}

a.wiki:hover
{
	color: RoyalBlue;
	text-decoration: underline;
}
	
*/